---
http_interactions:
- request:
    method: post
    uri: https://api.kairos.com/detect
    body:
      encoding: UTF-8
      string: '{"url":"http://s3.amazonaws.com/kontaktliste/production/images/contacts/avatars/36/thumb/kontakliste_36.jpeg","selector":"FULL"}'
    headers:
      Content-Type:
      - application/json
      app_id:
      - 5ccbf54c
      app_key:
      - db71ee25756b56483dc80197795e3a23
  response:
    status:
      code: 200
      message: 
    headers:
      api-canonical:
      - 58d33d4fc78ad5223347
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"images":[{"status":"Complete","width":100,"height":100,"file":"kontakliste_36.jpeg","faces":[{"topLeftX":19,"topLeftY":36,"chinTipX":51,"rightEyeCenterX":40,"yaw":-21,"chinTipY":95,"confidence":0.9993,"height":61,"rightEyeCenterY":52,"width":61,"leftEyeCenterY":53,"leftEyeCenterX":62,"pitch":-10,"attributes":{"asian":0.01668,"gender":{"type":"M"},"age":32,"hispanic":0.37158,"other":0.57481,"black":0.01765,"white":0.01928},"face_id":1,"quality":-0.02294,"roll":0}]}]}'
  recorded_at: Thu, 23 Mar 2017 03:13:21 GMT
recorded_with: VCR 2.9.3
