
default: &default
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>

development:
  <<: *default
  database: kontaktliste_development

test:
  <<: *default
  database: kontaktliste_test

production:
  <<: *default
  database: kontaktliste_production
  username: kontaktliste
  password: <%= ENV['KONTAKLISTE_DATABASE_PASSWORD'] %>
  password: 6ee657ad70e9b512a
